doctype html
html(lang="en")
  head
    title= pageTitle
    //-compiled and minified CSS
    link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    //-Optional theme
    link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
    //-compiled and minified JavaScript
    link(rel="stylesheet",href="/stickyfooter.css")
  block body

